.widget-comments {
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: .1em;

  .outer {
    height: 100%;
    padding-top: 4em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .25)), to(rgba(0, 0, 0, .9)));
  }

  .title {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 15px;
  }

  .name {
    padding-left: 5px;
    font-size: 35px;

  }

  .comment-container {
    display: none;
    padding: 10px;
  }

  .no-tweets {
    margin-top: -30px;
    color: #333333;
    font-size: 25px;
    font-weight: 500;
  }

  .more-info {
    color: rgba(255, 255, 255, 0.7);
  }

}
