.widget-graph {

  background-color: #999999;
  position: relative;


  svg {
    position: absolute;
    opacity: 0.4;
    fill-opacity: 0.4;
    left: 0px;
    top: 0px;
  }

  .title, .value {
    position: relative;
    z-index: 99;
    margin-bottom: 400px;
  }

  .title {
    color: #000;
  }

  .more-info {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
  }

  .x_tick {
    position: absolute;
    bottom: 0;
    .title {
      font-size: 20px;
      color: #000;
      opacity: 0.5;
      padding-bottom: 3px;
    }
  }

  .y_ticks {
    font-size: 20px;
    fill: #000;
    fill-opacity: 1;
  }

  .domain {
    display: none;
  }

}
