<% content_for :title do %>Dashboard<% end %>

<div class="gridster" style="font-family: Open Sans">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="data1" data-view="Graph" data-title="Issues"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sonos" data-view="Text" data-title=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature" data-view="Number" data-title=""></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-moreinfo="" ></div>
    </li>
  </ul>
</div>
