<% content_for :title do %>Dashboard<% end %>

<div class="gridster" style="font-family: Open Sans">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="date" data-view="Clock" data-title="Clock"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sonos" data-view="Text" data-title="Sonos"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature" data-view="Number" data-title="Temperature" data-moreinfo="icon" data-suffix="°" forecast-icon="icon"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-moreinfo="Tweets" ></div>
    </li>
  </ul>
</div>
