// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-image:url("http://wallpapercave.com/wp/Me0Zt6c.jpg");
  background-size: cover;

  .album-art {
    height: 185px;
    width: 185px;
    float: left;
    padding-left: 30px;
  }

  .info {
    width: 380px;
    float: right;
  }

  .title {
    font-size: 30px;
    color: #A0F94E;
    text-align: left;
  }

  .artist {
    font-size: 25px;
    text-align: left;
  }

  .album {
    font-size: 20px;
    text-align: left;
  }
}
