::-webkit-scrollbar {
  display: none;
}

.widget-text {

  background-size: cover;

  .fading-background {
    height: 100%;
    background-image: -webkit-linear-gradient( rgba(0, 0, 0, .6), rgba(0, 0, 0, .75), rgba(0, 0, 0, .8), rgba(0, 0, 0, .75), rgba(0, 0, 0, .6));
  }

  .album-art {
    height: 300px;
    width: 300px;
    float: left;
    padding-left: 30px;
    margin-top: 112.5px;
  }

  .info {
    width: 920px;
    height: 300px;
    position: absolute;
  }

  .title-box {
    margin-left: 355px;
    margin-top: 155px;
    width: 570px;
    height: 100px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }

  .title {
    position: absolute;
    font-size: 60px;
    color: #8aef2b;
  }

  .artist-box {
    margin-left: 355px;
    margin-top: 215px;
    width: 570px;
    height: 100px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }

  .artist {
    position: absolute;
    font-size: 53px;
  }

  .album-box {
    margin-left: 355px;
    margin-top: 273px;
    width: 570px;
    height: 100px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }

  .album {
    position: absolute;
    font-size: 42px;
    color: #999999;
  }

}
