// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ffa31a;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.9);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  background-color: $background-color;
  background-image: url("http://vignette3.wikia.nocookie.net/glee/images/d/da/Orange_Background_by_Vik_for_Stuff.png/revision/latest?cb=20140529222659");
  background-size: cover;

  .value {
    height: 55%;
    color: $value-color;
    display: flex;
    align-items: center;

  }

  .icon {
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
