.widget-number {

  .value {
    margin-left: 105px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: black;
    display: flex;
    align-items: center;
  }

  .icon {
    height: 215px;
  }

  .forecast-icon {
    height: 215px;
    margin-right: -15px;
  }

  .number {
    margin-left: -20px;
    margin-bottom: 10px;
    font-size: 125px;
  }

  .change-rate {
    font-size: 75px;
    color: black;
  }

  .location {
    font-size: 70px;
    color: black;
  }

  .summary {
    font-size: 45px;
    color: black;
  }

}
