// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ffa31a;
$value-color:       black;

$title-color:       rgba(255, 255, 255, 0.9);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  //background-image: url("http://3.bp.blogspot.com/-uDDn3yVu79o/TnvCkDIhCLI/AAAAAAAAAIo/YI-c6MFW7jk/s1600/rSWF+Pics-4.jpg");
    //-webkit-filter: brightness(110%);
    //filter: brightness(110%);
  //background-size: cover;

  .value {
    margin-top: -50px;
    margin-left: 55px;
    color: $value-color;
    display: flex;
    align-items: center;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
