.widget-scroll {

  background-color: #f9f9f9;

  .scroll-box {
    margin-top: -210px;
    margin-left: 30px;
    width: 900px;
    height: 400px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }

  .data {
    height: 100px;
    width: 400px;
    position: absolute;
    white-space: normal;
    color: black;
    font-size: 70px;
    margin-top: 250px;
    background-color: blue;
  }

  .name {
    height: 300px;
    width: 400px;
    position: absolute;
    white-space: normal;
    color: black;
    font-size: 50px;
    margin-top: 50px;
    background-color: blue;
  }

  .data1 {
    margin-left: 33px;
  }

  .name1 {
    margin-left: 33px;
  }

  .data2 {
    margin-left: 466px;
  }

  .name2 {
    margin-left: 466px;
  }

  .data3 {
    margin-left: -833px;
  }

  .name3 {
    margin-left: -833px;
  }

  .data4 {
    margin-left: -833px;
  }

  .name4 {
    margin-left: -833px;
  }

}
