.widget-scroll {

  background-color: #f9f9f9;

  .scroll-box {
    margin-top: -210px;
    margin-left: 30px;
    width: 900px;
    height: 400px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }

  .box {
    height: 400px;
    width: 400px;
    position: absolute;
    white-space: normal;
    color: black;
    font-size: 70px;
    border-radius: 15px;
    background-image: url('jira-blue.jpg');
    background-size: cover;
  }

  .name {
    height: 300px;
    width: 400px;
    position: absolute;
    font-size: 45px;
    margin-top: 100px;
  }

  .data {
    height: 100px;
    width: 400px;
    position: absolute;
    font-size: 100px;
    margin-top: 160px;
    font-weight: 575;
  }

  .box1 {
    margin-left: 33px;
  }

  .box2 {
    margin-left: 466px;
  }

  .box3 {
    margin-left: -833px;
  }

  .box4 {
    margin-left: -833px;
  }

}
